{% extends 'base.html' %}
{% block content %}
<h1>Metro do Porto database</h1>

<h2>About</h2>
<p>This web application illustrates the use of the Metro do Porto
database. The application is built using 
<a href="https://docs.python.org/3/library/sqlite3.html">sqlite3</a>,
<a href="https://flask.palletsprojects.com">Flask</a>, and
<a href="https://jinja.palletsprojects.com">Jinja</a>.
</p>

<h2>Some database statistics</h2>
<table>
<tr>
  <th>Items</th>
  <th>Count</th>
</tr>
<tr>
  <td>Routes</td>
  <td>{{ stats.linhaID}}</td>
</tr>
<tr>
  <td>Possible Trips</td>
  <td>{{ stats.viagemID }}</td>
</tr>

<tr>
  <td>Zones</td>
  <td>{{ stats.zonaIdOrigem }}</td>
</tr>

<tr>
  <td>Stops</td>
  <td>{{ stats.idParagem }}</td>
</tr>
</table>


<h2>Sample functionality</h2>

<h3>Routes</h3>
<p>
   <a href="/routes/">List all</a>
</p>
<p>Get Route info:
<form name="mid" action="javascript:window.open('/routes/'+document.forms['mid'].elements['id'].value,'_self')">
   Nome:<select name="id">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="Bx">Bx</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
 </select><input type="submit" value="get"/>
</form>
</p>
  
<p>Search by color:
<form name="msearch" action="javascript:window.open('/routes-search/'+document.forms['msearch'].elements['expr'].value,'_self')">
    <select name="id">
    <option value="A">Blue</option>
    <option value="B">Red</option>
    <option value="Bx">Red</option>
    <option value="C">Green</option>
    <option value="D">Yellow</option>
    <option value="E">Purple</option>
    <option value="F">Orange</option>
  <input type="submit" value="search"/>
</form>
</p>

<h3>Stops</h3>
<p>
   <a href="/stops/">List all</a>
</p>
<p>Get stop info:
<form name="aid" action="javascript:window.open('/stops/'+document.forms['aid'].elements['id'].value,'_self')">
  Stop Id:<input value="123" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>
  
<p>Search by name (prone to <a href="https://en.wikipedia.org/wiki/SQL_injection">SQL injection</a>!)
  <form name="asearch" action="javascript:window.open('/actors/search/'+document.forms['asearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>

<h3>Genres</h3>
<p>
   <a href="/genres">List all</a>
</p>

<p>Get genre info:
<form name="gid" action="javascript:window.open('/genres/'+document.forms['gid'].elements['id'].value,'_self')">
   Genre Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>

<h3>Staff</h3>
<p>
   <a href="/staff">List all</a>
</p>
{% endblock %}
