{% extends 'base.html' %}
{% block content %}
<h1>Route search</h1>

<table>
  <thead>
    <tr>
      <th>Route</th>
      <th>Color</th>
    </tr>
    
</thead>
<tbody>
  {% for route in routes %}
  
  <tr>
    <td>
      {{ route.Name }}
    </td>
    <td>{{route.Color}}</td>
  </tr>
    {% endfor %}
  </tbody>
</table>
{%for i in contador%}
<p><b>Number of Stations: </b> {{i.contador}}</p>
{%endfor%}
<table>
  <thead>
    <tr>
      <th>Station</th>
    </tr>
</thead>
<tbody>
  {% for s in stations %}
  
  <tr>
    <td>
      {{ s.Name }}
    </td>
  </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


