{% extends 'base.html' %}
{% block content %}
<h1>Stops</h1>
<table>
    <tr>
        <th>
            <b>ID</b>
        </th>
        <th>
            <b>Zone</b>
        </th>
        <th>
            <b>Name</b>
        </th>
    </tr>
    {% for stop in stops %}
    <tr>
        <td>
            <a href="/stops/{{ stop.ID }}">{{ stop.ID }}</a>
        </td>
        <td>
            {{ stop.Zone }}
        </td>
        <td>
            {{ stop.Name }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}