{% extends 'base.html' %}
{% block content %}
<h1>Search results</h1>
<h2>Here you can consult the price of any possbile trip with the choosen ticket as well as wich zones you can travel to.</h2>
<table>
  <tr>
      <th>
          <b>Ticket</b>
      </th>
      <th>
        <b>Zona de Origem</b>
      </th>
      <th>
        <b>Zona Destino</b>
      </th>
      <th>
          <b>Price</b>
      </th>
  </tr>
  {% for z in zonas %}
  <tr>
      <td>
          <a href="/tickets/{{ z.Ticket }}">{{ z.Ticket }}</a>
      </td>
      <td>
        {{ z.zonaIdOrigem }}
    </td>
    <td>
      {{ z.zonaIdDestino }}
  </td>
      <td>
          {{ z.Price }}
      </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}